# Elasticsearch creds
ELASTIC_USER={{ with secret "kv/data/elk/elasticsearch" }}{{ .Data.data.username }}{{ end }}
ELASTIC_USERNAME={{ with secret "kv/data/elk/elasticsearch" }}{{ .Data.data.username }}{{ end }}
ELASTIC_PASSWORD={{ with secret "kv/data/elk/elasticsearch" }}{{ .Data.data.password }}{{ end }}

# Kibana creds
KIBANA_USER={{ with secret "kv/data/elk/kibana" }}{{ .Data.data.username }}{{ end }}
KIBANA_USERNAME={{ with secret "kv/data/elk/kibana" }}{{ .Data.data.username }}{{ end }}
KIBANA_PASSWORD={{ with secret "kv/data/elk/kibana" }}{{ .Data.data.password }}{{ end }}


# Frontend configuration
VITE_APP_NAME=Transcendence
FRONTEND_PORT=5173
FRONTEND_URL=http://localhost:5173

# Backend configuration
BACKEND_PORT=3000
BACKEND_URL=http://localhost:3000

# Pour l'accès aux API (utilisée par le frontend)
# En local
API_URL=http://localhost:3000
# En Docker (le nom du service dans docker-compose)
VITE_API_URL=http://backend:3000
VITE_APP_NAME=Transcendence 

# Server configuration
PORT=3000
HOST=0.0.0.0

# Database Configuration
DATABASE_URL="sqlite:./db.sqlite"

# JWT Configuration
JWT_SECRET=supersecretkey
JWT_EXPIRATION="1d"
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN="http://localhost:5173"

# API Configuration
API_PREFIX="/api"
SWAGGER_PATH="/docs" 

# Version of Elastic products
STACK_VERSION=8.18.0

# Set the cluster name for elasticsearch
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial of es-cloud
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

## SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2

ELASTICSEARCH_PASSWORD=$KIBANA_PASSWORD
XPACK_SECURITY_ENCRYPTIONKEY=$ENCRYPTION_KEY
XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=$ENCRYPTION_KEY
XPACK_REPORTING_ENCRYPTIONKEY=$ENCRYPTION_KEY
 

JWT_EXPIRES_IN=24h
DATABASE_PATH=./database.sqlite 

GOOGLE_CLIENT_ID=1083014390405-g5dbj1ac072b42ed7jejr47v6r1ruei2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

SESSION_SECRET=42-transcendence-session-secret-must-be-at-least-32-characters-long
FRONTEND_URL=http://localhost:5173

